@theme inline {
  --font-en: var(--font-en), ui-sans-serif, system-ui, sans-serif;
  --font-fa: var(--font-fa), ui-sans-serif, system-ui, sans-serif;
  --font-ar: var(--font-ar), ui-sans-serif, system-ui, sans-serif;
}

@utility font-en {
  font-family: var(--font-en), ui-sans-serif, system-ui, sans-serif;
}

@utility font-fa {
  font-family: var(--font-fa), ui-sans-serif, system-ui, sans-serif;
}

@utility font-ar {
  font-family: var(--font-ar), ui-sans-serif, system-ui, sans-serif;
}

:root,
html {
  --font-sans: var(--font-en);
}

html:lang(fa) {
  --font-sans: var(--font-fa);
}

html:lang(ar) {
  --font-sans: var(--font-ar);
}
