@import "tailwindcss";
@import "../utilities/styles/colors.css";
@import "../utilities/styles/typography.css";
@import "../utilities/styles/fonts.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;

  --max-width-layout-max: 1780px;

  --spacing-layout-x-space: 48px;
}

@media (max-width: 640px) {
  :root {
    --spacing-layout-x-space: 20px;
  }
}
